src/main/mule/ag-network-tool.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="ag-network-toolSubFlow" doc:id="cb7a5c9d-4099-4e16-ad1f-0fce2c51915e" >
		<ee:transform doc:name="Transform Message" doc:id="2c30045e-bfcc-4d86-a1e7-f45df96a2e61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.cmd]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke-static doc:name="buildCommand" doc:id="be98c99e-9514-4d23-9a24-6307ab6709be" class="com.Utility" method="buildCommand(java.lang.String)">
			<java:args ><![CDATA[#[{command:payload}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="e2bd3ca3-6703-4b57-9254-824e4e96d8ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="20c8d6d1-02ae-4935-bb3b-97e0c2c50498" message="#[payload]"/>
	</flow>
</mule>
