src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
	<flow name="api-main">
        <http:listener path="/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Transform Message" doc:id="98d7527f-f24e-48a5-83a3-4cb30d1258f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="isAuthenticated" ><![CDATA[%dw 2.0
import * from dw::core::Binaries

var username= Mule::p('app.username')
var password=Mule::p('app.password')
fun decodeHeader(header)=do{
    var decoded=fromBase64((header splitBy(" "))[1])
    var arr= decoded splitBy(":")
    var flag=(arr[0] == username and arr[1] == password )
    ---
    flag
}

output application/json
---
decodeHeader(attributes.headers.Authorization default "")
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Is true" doc:id="995e0678-b7e7-4eca-89a3-f70b1a110734" expression="#[vars.isAuthenticated]" message="User authentication failed"/>
		<apikit:router config-ref="api-config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ad93ab74-8f5f-4046-afd2-b642b56f8cb5" >
				<ee:transform doc:name="Transform Message" doc:id="2c002c87-c3dc-42be-aa80-0066a9021681" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="httpStatus" doc:id="e47ba2e3-5fbc-4f81-85c7-1d419b4d3472" variableName="httpStatus"/>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="post:\:api-config">
		<flow-ref doc:name="ag-network-toolSubFlow" doc:id="28dfb61b-675b-427c-829e-ba59f8539057" name="ag-network-toolSubFlow"/>
    </flow>
    <flow name="get:\ping:api-config">
        <ee:transform doc:name="Transform Message" doc:id="50ccdae3-df7c-4ee0-9064-3d45ead9c29b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "API is healthy."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
